/autom4te.cache/
/autoscan.log
/config.h
/config.h.in~
/config.log
/config.status
/configure.scan
/.deps/
/autosd
/autosd.plist/
/autosd.t2t
/Makefile
/stamp-h1
/test*
/bak
/nooptim.sh
/params
/tmpfil
/*.swp
/*.tar.gz
/autom4te.cache
/autoscan.log
/config.h*
/config.log
/config.status
/configure
/configure.scan
/depcomp
/INSTALL
/Makefile.in
/aclocal.m4
/compile
/install-sh
/missing
/mkinstalldirs
